.dark-open .pricingTable{
    background: #293042;
    color: #fff;
}
.dark-open .pricingTable .heading, .dark-open .faq--sidebar .faq--card .card-content li a{
    color: #fff;
}
.dark-open .work-card, .dark-open .cardify, .dark-open .faq--sidebar .sidebar-card{
    background: #293042;
    color: #fff;
}
.dark-open .accordion .accordion__single h4 a, .dark-open .accordion .panel-default h4 a, .dark-open .panel-group .accordion__single h4 a, .dark-open .panel-group .panel-default h4 a{
    color: #fff;
    background: #293042;
}
.dark-open .pricingTable .price-value{
    color: #fff;
}
.dark-open .pricingTable-header, .dark-open .main_qEcrP{
    background-color:#202634!important;
    background: #202634!important;
}
.dark-open .up_2hkZ6,.dark-open .down_kJeQg{
    background-color:#293042!important;
}
.site-content {
    padding-bottom: unset;
     padding-top: unset; 
}
.banner .banner-txt {
    padding: 140px 30px;
}
.banner .banner-txt h4 {
    margin-top: -2px;
    margin-bottom: 18px;
    color: #ebd00e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}
.banner .banner-txt h1 {
    margin-bottom: 26px;
    color: #fff;
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
}
.banner .banner-txt h1 span {
    color: #415ee7;
}
.banner .banner-txt p {
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}
.banner .banner-txt .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 27px;
}
.banner .banner-txt .btn-box a {
    padding: 0 20px;
    height: 50px;
    border: 1px solid #f25a4c;
    border-radius: 7px;
    background: #ff792d;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    box-shadow: 0 2px 5px #555;
}
.banner .banner-txt .btn-box a.right-btn {
    margin-left: 20px;
    background: #fff;
    color: #333;
}
.banner .part-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: shakeY 5s ease-in-out infinite;
    animation: shakeY 5s ease-in-out infinite;
}
.pricingTable {
    border: 2px solid #fff;
    padding-bottom: 40px;
    border-radius: 10px;
    text-align: center;
    transition: all .5s ease 0s;
    transform: scale(1);
    box-shadow: 0 0 10px rgb(116 116 116 / 8%);
}
.pricingTable:hover{
    -webkit-box-shadow: 0 34px 20px -24px rgba(136,161,206,0.3);
    box-shadow: 0 34px 20px -24px rgba(136,161,206,0.3);
    transform: translate3d(0, -2px, 0);
}
.pricingTable .pricingTable-header {
    padding: 30px 0 1px 0;
    border-radius: 10px 10px 0 0;
    transition: all .5s ease 0s;
}
.pricingTable .pricing-content{
    padding: 30px 0 1px 0;
}
.pricingTable .vip-huizhang {
    color: #ed0000;
    font-weight: 700;
    font-size: 25px;
    transition: all .5s ease 0s;
}
.pricingTable .price-value {
    color: #4c4c4d;
    font-weight: 700;
    font-size: 18px;
    transition: all .5s ease 0s;
}
.pricingTable .heading {
    margin-top: 20px;
    color: red;
    text-transform: uppercase;
    font-size: 24px;
}
.pricingTable .heading span{
    font-size: 14px;
    color: #495057;
}

.pricingTable .pricing-content ul {
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}
.pricingTable .pricing-content ul li {
    color: #495057;
    line-height: 30px;
}
.pricingTable .pricingTable-signup a {
    display: inline-block;
    padding: 5px 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s ease 0s;
}
.corner::before {
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
    position: absolute;
    top: 0.3rem;
    left: -0.5rem;
    z-index: 1;
    padding-right: 0.625rem;
    font-weight: bold;
    line-height: 0px;
    color: #fff;
    height: 0px;
    border: 0.9375rem solid #FE5200;
    border-right-color: transparent;
    content: attr(data-title);
    box-shadow: 0px 0.3125rem 0.3125rem -0.3125rem #000;
}

.corner::after {
    content: "";
    position: absolute;
    top: 2.1875rem;
    left: -0.5rem;
    border: 0.25rem solid #89540c;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.work-card {
    box-shadow: 0 0 10px rgb(116 116 116 / 8%);
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    border-radius: 12px;
    background-color: rgb(240, 244, 245);
}
.work-card__icon {
    display: inline-block;
    margin-bottom: 30px;
}
.work-card__count-number {
    position: absolute;
    top: 12px;
    right: 30px;
    color: #ebeef7;
    text-align: right;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text--body-1, .text--body-2, .text--body-3, .text--body-4, .text--body-5, .text--caption {
    font-weight: 400;
}
.text--body-1 {
    text-transform: capitalize;
    font-size: 24px;
    line-height: 36px;
}
.work-card__title {
    margin-bottom: 20px;
    color: #191f33;
    font-weight: 600;
}
.text--body-3 {
    text-transform: capitalize;
    font-size: 16px;
}
.cardify{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgb(108 111 115 / 10%);
    box-shadow: 0 2px 4px rgb(108 111 115 / 10%);
}
.faq-title {
    padding: 33px 30px;
    border-bottom: 1px solid #ececec;
}
.faq-title h4 {
    display: inline-block;
    color: #fe4066;
    vertical-align: middle;
    font-size: 20px;
    line-height: 32px;
}
.faqs {
    padding: 30px;
}
.accordion .accordion__single, .accordion .panel-default, .panel-group .accordion__single, .panel-group .panel-default {
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.accordion .accordion__single h4, .accordion .panel-default h4, .panel-group .accordion__single h4, .panel-group .panel-default h4 {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-family: Quicksand,sans-serif;
}
.accordion .accordion__single h4 a, .accordion .panel-default h4 a, .panel-group .accordion__single h4 a, .panel-group .panel-default h4 a {
    display: block;
    padding: 15px 27px;
    background: #eff1f5;
    color: #333;
    font-weight: 400;
    line-height: 26px;
}
.accordion .accordion__single .panel-title a, .accordion .accordion__single .single_acco_title a, .accordion .panel-default .panel-title a, .accordion .panel-default .single_acco_title a, .panel-group .accordion__single .panel-title a, .panel-group .accordion__single .single_acco_title a, .panel-group .panel-default .panel-title a, .panel-group .panel-default .single_acco_title a {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.affliate_rule_module .item-preview, .affliate_rule_module .sidebar-card, .faq--sidebar .item-preview, .faq--sidebar .sidebar-card, .product--sidebar .item-preview, .product--sidebar .sidebar-card, .sidebar--blog .item-preview, .sidebar--blog .sidebar-card, .support--sidebar .item-preview, .support--sidebar .sidebar-card {
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgb(108 111 115 / 10%);
    box-shadow: 0 2px 4px rgb(108 111 115 / 10%);
}
.faq-title {
    padding: 33px 30px;
    border-bottom: 1px solid #ececec;
}
.faq-title h4 {
    display: inline-block;
    color: #fe4066;
    vertical-align: middle;
    font-size: 20px;
    line-height: 32px;
}
.accordion .accordion__single h4 a i.fa, .accordion .panel-default h4 a i.fa, .panel-group .accordion__single h4 a i.fa, .panel-group .panel-default h4 a i.fa {
    float: right;
    line-height: inherit;
}
.affliate_rule_module .item-preview .collapsible-content, .affliate_rule_module .sidebar-card .collapsible-content, .faq--sidebar .item-preview .collapsible-content, .faq--sidebar .sidebar-card .collapsible-content, .product--sidebar .item-preview .collapsible-content, .product--sidebar .sidebar-card .collapsible-content, .sidebar--blog .item-preview .collapsible-content, .sidebar--blog .sidebar-card .collapsible-content, .support--sidebar .item-preview .collapsible-content, .support--sidebar .sidebar-card .collapsible-content {
    padding: 0 30px;
}
.affliate_rule_module .item-preview .card-content, .affliate_rule_module .sidebar-card .card-content, .faq--sidebar .item-preview .card-content, .faq--sidebar .sidebar-card .card-content, .product--sidebar .item-preview .card-content, .product--sidebar .sidebar-card .card-content, .sidebar--blog .item-preview .card-content, .sidebar--blog .sidebar-card .card-content, .support--sidebar .item-preview .card-content, .support--sidebar .sidebar-card .card-content {
    padding: 20px 0;
}
ul {
    margin: 0;
    padding: 0;
}
.affliate_rule_module .card--top_discussion .card-content li, .affliate_rule_module .faq--card .card-content li, .faq--sidebar .card--top_discussion .card-content li, .faq--sidebar .faq--card .card-content li, .sidebar--blog .card--top_discussion .card-content li, .support--sidebar .card--top_discussion .card-content li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 23px;
}
li {
    list-style: none;
}
.affliate_rule_module .card--top_discussion .card-content li:before, .affliate_rule_module .faq--card .card-content li:before, .faq--sidebar .card--top_discussion .card-content li:before, .faq--sidebar .faq--card .card-content li:before, .sidebar--blog .card--top_discussion .card-content li:before, .support--sidebar .card--top_discussion .card-content li:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    background: #fe4066;
    content: "";
    vertical-align: middle;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.affliate_rule_module .faq--card .card-content li:before, .faq--sidebar .faq--card .card-content li:before {
    top: 13px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -ms-transform: translateY(0);
}
.affliate_rule_module .card--top_discussion .card-content li a, .affliate_rule_module .faq--card .card-content li a, .faq--sidebar .card--top_discussion .card-content li a, .faq--sidebar .faq--card .card-content li a, .sidebar--blog .card--top_discussion .card-content li a, .support--sidebar .card--top_discussion .card-content li a {
    color: #333;
    line-height: 35px;
}
.affliate_rule_module .faq--card .btns--faq, .faq--sidebar .faq--card .btns--faq {
    margin-bottom: 38px;
    text-align: center;
}
.btns--round {
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.btns {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: #fe4066;
    -webkit-box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.btns--sm, .btns-sm {
    padding: 0 22px;
    line-height: 40px;
}
.btns--faq {
    min-width: 140px;
}
@media (max-width:760px){
    .pricingTable{
        margin-bottom: 20px;
    }
    [class*="col-"] {
    margin-bottom: 20px;
}
}

/*优惠券开始*/
.mainWrapper_vgEbI {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mainWrapper_vgEbI .topStripe_1EHTQ {
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #00aae7;
    z-index: 1
}

.mainWrapper_vgEbI .up_2hkZ6 {
    -ms-flex: 1;
    flex: 1;
    position: relative;
    padding: 8px 12px 16px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-size: 88px 88px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-yellow-af20038306e93eb9ae3611c19b27deb3.svg);
    -webkit-mask: radial-gradient(circle at left bottom,transparent 8px,#fff 0),radial-gradient(circle at right bottom,transparent 8px,#fff 0);
    mask: radial-gradient(circle at left bottom,transparent 8px,#fff 0),radial-gradient(circle at right bottom,transparent 8px,#fff 0);
    -webkit-mask-composite: source-in,xor;
    mask-composite: intersect
}

.mainWrapper_vgEbI .up_2hkZ6:before {
    left: -10px
}

.mainWrapper_vgEbI .up_2hkZ6:after,.mainWrapper_vgEbI .up_2hkZ6:before {
    content: " ";
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: -9px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1
}

.mainWrapper_vgEbI .up_2hkZ6:after {
    right: -10px
}

.mainWrapper_vgEbI .moneyWrapper_1FXM3 {
    -ms-flex: 0;
    flex: 0
}

.mainWrapper_vgEbI .moneyWrapper_1FXM3 .label_lNTmu {
    margin-top: 8px
}

.mainWrapper_vgEbI .moneyWrapper_1FXM3 .money_2iuV8 {
    color: #fa8c16;
    font-size: 28px;
    font-weight: 500
}

.mainWrapper_vgEbI .moneyWrapper_1FXM3 .money_2iuV8 .item_27J-M {
    line-height: 44px;
    display: inline-block
}

.mainWrapper_vgEbI .moneyWrapper_1FXM3 .money_2iuV8 .smaller_qNHvy {
    font-size: 20px;
    line-height: 1
}

.mainWrapper_vgEbI .moneyWrapper_1FXM3 .money_2iuV8 .unit_mD3OZ {
    position: relative;
    top: -1px;
    margin-left: 4px;
    font-size: 14px;
    line-height: 1
}

.mainWrapper_vgEbI .threshold_3f7pT {
    -ms-flex: 0;
    flex: 0;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px
}

.mainWrapper_vgEbI .rule_28p4w {
    -ms-flex: 1;
    flex: 1;
    margin-top: 4px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px
}

.mainWrapper_vgEbI .down_kJeQg {
    -ms-flex: 0;
    flex: 0;
    position: relative;
    border: 1px solid #e5e5e5;
    border-top: none;
    background-color: #fff;
    -webkit-mask: radial-gradient(circle at left top,transparent 8px,#fff 0),radial-gradient(circle at right top,transparent 8px,#fff 0);
    mask: radial-gradient(circle at left top,transparent 8px,#fff 0),radial-gradient(circle at right top,transparent 8px,#fff 0);
    -webkit-mask-composite: source-in,xor;
    mask-composite: intersect
}

.mainWrapper_vgEbI .down_kJeQg .drawBtn_1iTz9 {
    width: 100%;
    height: auto;
    padding: 9px 0;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background-color: #00aae7;
    z-index: 102
}

.mainWrapper_vgEbI .down_kJeQg .drawBtn_1iTz9:active,.mainWrapper_vgEbI .down_kJeQg .drawBtn_1iTz9:focus {
    color: #fff;
    background-color: #00aae7
}

.mainWrapper_vgEbI .down_kJeQg .drawBtn_1iTz9:hover {
    color: #fff;
    background-color: #33c8ef
}

.mainWrapper_vgEbI .down_kJeQg .drawBtn_1iTz9:disabled {
    color: #999;
    background-color: #eee
}

.mainWrapper_vgEbI .down_kJeQg .downRule_17cIe {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 22px
}

.mainWrapper_vgEbI .down_kJeQg:before {
    left: -10px
}

.mainWrapper_vgEbI .down_kJeQg:after,.mainWrapper_vgEbI .down_kJeQg:before {
    content: " ";
    width: 18px;
    height: 18px;
    position: absolute;
    top: -9px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1
}

.mainWrapper_vgEbI .down_kJeQg:after {
    right: -10px
}

.mainWrapper_vgEbI.onePunch_30Z6B {
    margin-bottom: 0
}

.mainWrapper_vgEbI.onePunch_30Z6B .up_2hkZ6 {
    border-bottom: 1px dashed #e5e5e5
}

.mainWrapper_vgEbI.gray_2hi7M .topStripe_1EHTQ {
    background-color: #999
}

.mainWrapper_vgEbI.gray_2hi7M .up_2hkZ6 {
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-gray-ef1efc6f7b757e70a5f3827e369230de.svg)
}

.mainWrapper_vgEbI.gray_2hi7M .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8,.mainWrapper_vgEbI.gray_2hi7M .up_2hkZ6 .rule_28p4w,.mainWrapper_vgEbI.gray_2hi7M .up_2hkZ6 .threshold_3f7pT {
    color: #999
}

.mainWrapper_vgEbI.gray_2hi7M .down_kJeQg .drawBtn_1iTz9 {
    color: #999;
    background-color: #ebebeb
}

.mainWrapper_vgEbI.gray_2hi7M .down_kJeQg .downRule_17cIe {
    color: #999
}

.mainWrapper_vgEbI.tomato_3-404 .topStripe_1EHTQ {
    background: linear-gradient(90deg,#f8bd76,#ef4149 99%);
    background-color: #ef4149
}

.mainWrapper_vgEbI.tomato_3-404 .up_2hkZ6 {
    border: none;
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-red-d3bd757c5a48bd7398e114630583818a.svg)
}

.mainWrapper_vgEbI.tomato_3-404 .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8 {
    color: #ef4149
}

.mainWrapper_vgEbI.tomato_3-404 .down_kJeQg {
    border: none
}

.mainWrapper_vgEbI.tomato_3-404 .down_kJeQg .drawBtn_1iTz9,.mainWrapper_vgEbI.tomato_3-404 .down_kJeQg .drawBtn_1iTz9:active,.mainWrapper_vgEbI.tomato_3-404 .down_kJeQg .drawBtn_1iTz9:focus {
    color: #fff;
    background-color: #ef4149
}

.mainWrapper_vgEbI.tomato_3-404 .down_kJeQg .drawBtn_1iTz9:hover {
    color: #fff;
    background-color: #f15961
}

.mainWrapper_vgEbI.tomato_3-404 .down_kJeQg .drawBtn_1iTz9:disabled {
    color: #fff;
    background-color: #ef4149;
    opacity: .3
}

.mainWrapper_vgEbI.tomato_3-404.onePunch_30Z6B .up_2hkZ6 {
    border-bottom: 1px dashed #e5e5e5
}

.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .topStripe_1EHTQ {
    background: none;
    background-color: #999
}

.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .up_2hkZ6 {
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-gray-ef1efc6f7b757e70a5f3827e369230de.svg)
}

.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8,.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .up_2hkZ6 .rule_28p4w,.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .up_2hkZ6 .threshold_3f7pT {
    color: #999
}

.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .down_kJeQg .drawBtn_1iTz9 {
    color: #999;
    background-color: #ebebeb;
    opacity: 1
}

.mainWrapper_vgEbI.tomato_3-404.gray_2hi7M .down_kJeQg .downRule_17cIe {
    color: #999
}

.mainWrapper_vgEbI.avatar_2buZ9 .topStripe_1EHTQ {
    background: linear-gradient(90deg,#f8bd76,#ef4149 99%);
    background-color: #f8bd76
}

.mainWrapper_vgEbI.avatar_2buZ9 .up_2hkZ6 {
    border: none;
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-orange-effd2dc9b55aff930c08226a0048d90c.svg);
    background-color: #5e5bff
}

.mainWrapper_vgEbI.avatar_2buZ9 .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8 {
    color: #fa8c16
}

.mainWrapper_vgEbI.avatar_2buZ9 .up_2hkZ6 .threshold_3f7pT {
    color: #e5e5e5
}

.mainWrapper_vgEbI.avatar_2buZ9 .up_2hkZ6 .rule_28p4w {
    color: #fff
}

.mainWrapper_vgEbI.avatar_2buZ9 .up_2hkZ6:after,.mainWrapper_vgEbI.avatar_2buZ9 .up_2hkZ6:before {
    border: none
}

.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg {
    border: none;
    background-color: #5e5bff
}

.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg .drawBtn_1iTz9,.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg .drawBtn_1iTz9:active,.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg .drawBtn_1iTz9:focus {
    color: #fff;
    background-color: #fa8c16
}

.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg .drawBtn_1iTz9:hover {
    color: #fff;
    background-color: #fca42e
}

.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg .drawBtn_1iTz9:disabled {
    color: #fff;
    background-color: #fa8c16;
    opacity: .3
}

.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg .downRule_17cIe {
    color: #fff
}

.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg:after,.mainWrapper_vgEbI.avatar_2buZ9 .down_kJeQg:before {
    border: none
}

.mainWrapper_vgEbI.avatar_2buZ9.onePunch_30Z6B .up_2hkZ6 {
    border-bottom: 1px dashed #e5e5e5
}

.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .topStripe_1EHTQ {
    background: none;
    background-color: #999
}

.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .up_2hkZ6 {
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-gray-ef1efc6f7b757e70a5f3827e369230de.svg)
}

.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8,.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .up_2hkZ6 .rule_28p4w,.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .up_2hkZ6 .threshold_3f7pT {
    color: #bfbfbf
}

.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .down_kJeQg .drawBtn_1iTz9 {
    color: #999;
    background-color: #eee;
    opacity: 1
}

.mainWrapper_vgEbI.avatar_2buZ9.gray_2hi7M .down_kJeQg .downRule_17cIe {
    color: #bfbfbf
}

.mainWrapper_vgEbI.lavender_141sw .topStripe_1EHTQ {
    background: linear-gradient(131deg,#ff4fa0 3%,#d81cbd 92%);
    background-color: #ff4fa0
}

.mainWrapper_vgEbI.lavender_141sw .up_2hkZ6 {
    border: none;
    background-image: url(https://qiniu.staticfile.org/static/icon-coupon-bg-purple-4b472c18d49f7259012a73d191e0e156.svg);
    background-color: #802be3
}

.mainWrapper_vgEbI.lavender_141sw .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8 {
    color: #ff4fa0
}

.mainWrapper_vgEbI.lavender_141sw .up_2hkZ6 .threshold_3f7pT {
    color: #e5e5e5
}

.mainWrapper_vgEbI.lavender_141sw .up_2hkZ6 .rule_28p4w {
    color: #fff
}

.mainWrapper_vgEbI.lavender_141sw .up_2hkZ6:after,.mainWrapper_vgEbI.lavender_141sw .up_2hkZ6:before {
    border: none
}

.mainWrapper_vgEbI.lavender_141sw .down_kJeQg {
    border: none;
    background-color: #802be3
}

.mainWrapper_vgEbI.lavender_141sw .down_kJeQg .drawBtn_1iTz9,.mainWrapper_vgEbI.lavender_141sw .down_kJeQg .drawBtn_1iTz9:active,.mainWrapper_vgEbI.lavender_141sw .down_kJeQg .drawBtn_1iTz9:focus {
    color: #fff;
    background: linear-gradient(131deg,#ff4fa0 3%,#d81cbd 92%);
    background-color: #ff4fa0
}

.mainWrapper_vgEbI.lavender_141sw .down_kJeQg .drawBtn_1iTz9:hover {
    color: #fff;
    background: linear-gradient(131deg,#ff6779 3%,#da34d5 92%);
    background-color: #ff6779
}

.mainWrapper_vgEbI.lavender_141sw .down_kJeQg .drawBtn_1iTz9:disabled {
    color: #fff;
    background: linear-gradient(131deg,#ff4fa0 3%,#d81cbd 92%);
    background-color: #ff4fa0;
    opacity: .3
}

.mainWrapper_vgEbI.lavender_141sw .down_kJeQg .downRule_17cIe {
    color: #fff
}

.mainWrapper_vgEbI.lavender_141sw .down_kJeQg:after,.mainWrapper_vgEbI.lavender_141sw .down_kJeQg:before {
    border: none
}

.mainWrapper_vgEbI.lavender_141sw.onePunch_30Z6B .up_2hkZ6 {
    border-bottom: 1px dashed #e5e5e5
}

.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .topStripe_1EHTQ {
    background: none;
    background-color: #999
}

.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .up_2hkZ6 {
    background-image: url(/wp-content/themes/m9/assets/images/icon-coupon-bg-gray-ef1efc6f7b757e70a5f3827e369230de.svg)
}

.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .up_2hkZ6 .moneyWrapper_1FXM3 .money_2iuV8,.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .up_2hkZ6 .rule_28p4w,.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .up_2hkZ6 .threshold_3f7pT {
    color: #bfbfbf
}

.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .down_kJeQg .drawBtn_1iTz9 {
    color: #999;
    background: none;
    background-color: #eee;
    opacity: 1
}

.mainWrapper_vgEbI.lavender_141sw.gray_2hi7M .down_kJeQg .downRule_17cIe {
    color: #bfbfbf
}

.c-switch-tabs-without-nav_2iwBy .ant-tabs-bar {
    display: none;
    opacity: 0
}

.main_qEcrP {
    border-radius: 10px;
    margin-bottom: 48px;
    background-color: rgb(240, 244, 245);
    border: 2px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(51,51,51,.08);
    -ms-flex-pack: start;
    -ms-flex-align: stretch
}

.main_qEcrP,.main_qEcrP .coupons_2PakS {
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: stretch
}

.main_qEcrP .coupons_2PakS {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 8px 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    -ms-flex-align: stretch
}

.main_qEcrP .coupons_2PakS .couponCardWrapper_YNIy6 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 16px 8px 0
}

.main_qEcrP .coupons_2PakS .couponCardWrapper_YNIy6.one_zCu-o {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.main_qEcrP .coupons_2PakS .couponCardWrapper_YNIy6.two_2QUAv {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.main_qEcrP .coupons_2PakS .couponCardWrapper_YNIy6.three__EJy9 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
}

.main_qEcrP .info_2lnDh {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 300px;
    padding: 26px 16px;
    background-color: #fafafa;
    border-left: 1px solid #eee;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start
}

.main_qEcrP .info_2lnDh,.main_qEcrP .info_2lnDh .titleWrapper_2eX39 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.main_qEcrP .info_2lnDh .titleWrapper_2eX39 {
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

.main_qEcrP .info_2lnDh .titleWrapper_2eX39 .title_3RZr6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 8px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px
}

.main_qEcrP .info_2lnDh .titleWrapper_2eX39 .money_1vNGO {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #fa8c16;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.main_qEcrP .info_2lnDh .titleWrapper_2eX39 .money_1vNGO .smaller_1ufEm {
    font-size: 20px;
    line-height: 1
}

.main_qEcrP .info_2lnDh .titleWrapper_2eX39 .money_1vNGO .unit_OYUvr {
    position: relative;
    top: -1px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1
}

.main_qEcrP .info_2lnDh .subTitle_101K6 {
    margin-top: 12px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px
}

.main_qEcrP .info_2lnDh .drawBtn_1YpzF {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px 0;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #00aae7;
    z-index: 102
}

.main_qEcrP .info_2lnDh .drawBtn_1YpzF:active,.main_qEcrP .info_2lnDh .drawBtn_1YpzF:focus {
    color: #fff;
    background-color: #00aae7
}

.main_qEcrP .info_2lnDh .drawBtn_1YpzF:hover {
    color: #fff;
    background-color: #33c8ef
}

.main_qEcrP .info_2lnDh .drawBtn_1YpzF:disabled {
    color: #999;
    background-color: #eee
}

@media only screen and (max-width: 767px) {
    .main_qEcrP {
        -ms-flex-direction:column-reverse;
        flex-direction: column-reverse
    }

    .main_qEcrP,.main_qEcrP .coupons_2PakS {
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: center;
        align-items: center
    }

    .main_qEcrP .coupons_2PakS {
        width: 100%;
        padding: 0 0 16px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .main_qEcrP .coupons_2PakS .couponCardWrapper_YNIy6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
        padding: 16px 16px 0
    }

    .main_qEcrP .info_2lnDh {
        width: 100%;
        border: none;
        border-bottom: 1px solid #eee
    }
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
    outline: none;
}
/* 7 */
.btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-7 span {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7 span:before {
    width: 2px;
    height: 0%;
}
.btn-7 span:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover:before {
    height: 100%;
}
.btn-7 span:hover:after {
    width: 100%;
}
.quan-btn{
    padding-top: 10px;
    text-align: center;
}
